.dashboard-container {
  min-height: 100vh;
  color: white;
}
.top-container {
  background-color: rgb(29, 19, 58);
  height:20vh;
  padding-top:50px;
}
.top-container .welcome-title {
  font-size: 37px !important;
  font-weight: 700;
}
.top-container .welcome-sub {
  font-size: 17px;
  color: #ccc;
  margin-top: 5px;
}
.explore-btn {
  margin-right:30px;
  height: 46px;
  background-color: #a145ff;
  border: none;
  color: white;
  font-size: 16px;
  font-weight:500;
  border-radius: 12px;
}
.stat-card {
  background-color: rgb(29, 19, 58);
  border: 1px solid rgba(141, 107, 251, 0.5);
  width: 349px;
  height:120px;
}
.stat-img{
    width: 40px;
    height:40px;
}
.stat-title {
  font-size: 17px;
  color: #c7c2d2;
}
.stat-number {
  font-size: 32px;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color:white;
}
.progress-card {
  background-color: rgb(29, 19, 58);
  border: 1px solid rgba(141, 107, 251, 0.5);
}
.progress-title {
  font-size: 22px;
  font-weight: 600;
}
.progress-level {
  color: #b9b4c2;
}
.progress-section{
    width: 1100px;
}
.progress-percent {
  font-size: 26px;
  background: linear-gradient(90deg, rgb(145, 56, 234), rgb(233, 57, 167));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.progress-bar-container {
  width: 100%;
  height: 9px;
  border-radius: 10px;
  background-color: rgb(16, 13, 29);
  margin-top: 15px;
  overflow: hidden;
}
.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, rgb(145, 56, 234), rgb(233, 57, 167));
  border-radius: 10px;
}
.bottomDashboard{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:90px;
    margin-left:auto;
    margin-right:auto;
    width: 800px;
    height:250px;
    background-color: rgba(40, 27, 81, 1);
    border: 1px solid rgba(141, 107, 251, 0.5);
    border-radius:14px;
}
.learn-btn{
    background-color:rgba(236, 72, 173, 1);
    margin-top:15px;
    width: 310px;
    font-size:26;
}
.endlogo{
    color:rgba(236, 72, 173, 1);
}