.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.footer-container{
    margin: 60px 0px;
    background-color: rgb(15, 5, 29);

}

.footer-container .footer-itself{
    padding: 90px 230px;
    height: 350px;
}


/* ==================================================================================================== */

.first-column{
    text-align: left;
}
.footer-logo{
    width: 200px;
}

.footer-pargraph{
    padding: 20px 10px 10px;
    color: white;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
}
.social-media{
    padding:  0px 70px 0px 0px ;
    display: flex;
    justify-content: space-around;
}

.social-media img{
    width: 17px;
    height: 17px;
}

/* ======================================================================================== */


.footer-list{
    list-style-type: none;
    text-align: left;
    padding: 0;

}

.footer-list li{
    color: white;
    padding: 3px;
}
.footer-heading{
    color:white;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.arrow{
    width: 10px;
    height: 10px;
    padding-right: 2px;
}

.text-white{
    text-decoration: none;
    font-size: 13px;

}

/* ============================================================================================== */
.course-img img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.footer-courses-list li{
    display: flex;
    padding: 10px 0px;
}

.footer-courses-list li div{
    padding: 10px 20px;
}

.course-name{
    font-weight: 500;
    font-size: 15px;
}

.course-des{
    font-weight: 200;
    font-size: 14px;
    margin: 0;
    color: #92899b;
}

.course-hours{
    font-weight: 300;
    font-size: 13px;
    color: #7e07ff;
}
/* ====================================================================================== */


.copyrights{
    height: 70px;
    border-top:#92899b solid 0.5px;
    width: 100%;
    color: white;
    padding: 20px;
    font-size: 12px;
    text-align:center;

}

.copyrights span{
    color: #b54591;
    font-weight: 700;
}