.cont{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.first-part{
    margin-top: 10rem;
}

.header1{
    font-size: 500% !important;
    font-weight: 700;
}
.mycolor{
    background: linear-gradient(to right, #8f1ff8, #8f6aff, #ff53ac);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header2{
    width: 60%;
    margin-bottom: 3%;
}


.butn1, .butn2{
    height: 70px;
    width: 200px;
    border-radius: 12px !important;
    font-weight: bold !important;
}

.butn1{
   background: #A145FF !important; 
   transition: all 0.1s ease !important;
}
.butn1:hover{
   background: #9440EC !important; 
   width: 205px;
}

.butn2{
    border: #ad71f6 solid 3px !important;
    color: white !important;
}
.butn2:hover{
    background: linear-gradient(to right, rgba(117, 90, 239, 0.1), #1a113f) ; 
}