.outer-box{
    border-radius: 19px;
    width: 350px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}
.outer-box:hover{
    border-color: #61348f;
    background-color: rgba(54, 42, 110, 0.1) ; 
    box-shadow: 10px 10px 15px rgba(26, 17, 63, 0.1);
}
.outer-box:hover .icon-bg{
    background: linear-gradient(to right, #a655f8, #d260fc, #fc60f4);
}

.icon-bg{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(to right, #9c41f7, #8f60fc);
    transition: all 0.5s ease;
    margin-bottom: 10px;
}
.myicon{
    color: #930dd6;
}