*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar_content{
  background-color: var(--navbar-bg);
  border-bottom: 1px solid ;
  border-color: var(--navbar-border);
  position: sticky !important;
  top: 0;
  z-index: 100;
}
.navbarwords a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.4s;
}

.navbarwords a:hover{
  color: var(--text-hover);
}
.navbarwords a.active-link {
  color: var(--active-link) !important;
}

.logo{
  text-decoration: none;
  background-color: transparent;
}
.navbarsignupbtn{
  background-color: var(--signup-btn) ;
  color:rgb(255, 255, 245);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;

}
.navbarsignupbtn:hover{
  background-color: var(--signup-btn-hover);
}


.navbarloginbtn{
  background-color: transparent ;
  color: var(--text-hover);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  margin: 0px 4px;
}


.navbarloginbtn:hover{
  background-color: var(--btn-hover-bg);
  filter: drop-shadow(0px 2px 3px  var(--btn-drop-shadow));
  
}

.navbarthemebtn{
  background-color: transparent ;
  color:var(--signup-btn);
  border: none;
  padding: 7px 7px;
  border-radius: 10px;
  margin: 0px 4px;
}

.navbarthemebtn:hover{
  background-color: var(--btn-hover-bg);
  box-shadow: 0 2px 0 0 var(--btn-shadow);
  filter: drop-shadow(0px 2px 3px  var(--btn-drop-shadow));
}

.navbarlanguagebtn{
  background-color: transparent ;
  color:var(--signup-btn);
  border: none;
  padding: 7px 7px;
  border-radius: 10px;
  margin: 0px 4px;
  font-size: 14px;
  font-weight: 600;
}

.lang{
  width: 20px;
}

.sun{
  width: 20px;
}

.navbarlanguagebtn:hover{
  background-color: var(--btn-hover-bg);
  box-shadow: 0 2px 0 0 var(--btn-shadow);
  filter: drop-shadow(0px 2px 3px  var(--btn-drop-shadow));
}

.ennavbar{
  color: var(--text-hover);
}


.Logoname{
  background: linear-gradient(to right, rgb(163, 70, 254), rgb(250, 77, 204));
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; 
  font-size: 22px;
  font-weight: 700;
  font-family: "Trirong", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.booklogo{
  color:black;
  border-radius: 10px;
  padding: 6px 5px;
  background: linear-gradient(to bottom right,rgb(173, 73, 249), rgb(245, 79, 209));
}
.booklogo:hover{
  box-shadow: 0 2px 0 0 rgb(47, 25, 79);
  filter: drop-shadow(0px 5px 3px  rgb(80, 37, 131));
}

.logo:hover .booklogo {
  box-shadow: 0 2px 0 0 var(--btn-shadow);
  filter: drop-shadow(0px 5px 3px  rgb(80, 37, 131));
}