.rep-comp-container{
    border: 1px solid var(--repeated-component-border);
    width: 70%;
    height: 35vh;
    border-radius: 19px;
    padding: 50px;
    background: var(--repeated-component-bg);
    margin-bottom: 10rem;
    
}
.mybutn{
    width: 37%;
    height: 32%;
    border-radius: 12px !important;
    background-color: var(--repeated-component-btn-bg) !important;
    display: flex;
    justify-content: space-around !important;
    text-transform: capitalize !important;
}
.mybutn:hover{
    background-color: var(--repeated-component-btn-bg-hover) !important;
}

.mytxt{
    font-weight: bold;
}
