.container{
    max-width: 1100px !important;
}
.title{
    font-size: 300% !important;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}
.word{
    color:rgb(161, 69, 255);
}
.desc{
    font-size: large;
    max-width: 650px;
    margin-bottom: 30px;
}
.searchinp{
    width: 1088px;
    margin-bottom: 33px;
    background-color: rgb(15, 12, 29) !important;
    border-color: rgb(60, 43, 106) !important;
}
.searchinp:focus{
    border-color: rgb(159, 68, 252) !important;
    color: rgb(255, 255, 241) !important;
}
.levels{
    margin-bottom: 60px;
}
.level{
    border: solid #312e4e 1px;
    background-color: #1E1640;
    padding: 10px 20px 10px;
    border-radius: 12px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}
.level:hover{
    border: solid rgb(92, 47, 136) 1px;
}
.active{
    background-color: #9763d2;
}
.cardscont{
    margin-bottom: 150px;
}
.roadmapsqrcont{
    border: solid #312e4e 1px;
    background-color: #1E1640;
    height: 355px;
    width: 342px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.1s ease;

}
.roadmapsqrcont:hover{
    border-color: #61348f;
    background-color: rgb(44, 28, 91) ; 
    box-shadow: 10px 25px 10px rgba(49, 30, 87, 0.1);
}
.roadmapsqrcont:hover .mytitle{
    color: rgb(161, 69, 255);
}
.roadmapsqrcont:hover .view{
    color: rgb(161, 69, 255) !important;
}
.iconcont{
    width: 297px;
    height: 80px;
    background: linear-gradient(to bottom, #ff53ac, #6316ab);
    border-radius: 10px;
    margin-bottom: 20px;
}
.mytitle{
    transition: all 0.1s ease;
}
.lightning{
    font-size: 40px !important;
    color: rgb(92, 0, 128);
}
.levelsqr{
    border-radius: 10px;
    padding: 0 5px 0 5px;
    height: 30px;
    font-size: small;
    display: flex;
    align-items: center;
}
.levelsqr[level="Beginner"]{
    border: 1px rgb(22, 158, 124) solid;
    background-color: rgba(26, 151, 103, 0.5);
    color: rgb(22, 158, 124) !important;
}
.levelsqr[level="Intermediate"]{
    border: 1px rgb(245, 93, 17) solid;
    background-color: rgba(154, 100, 38, 0.5);
    color: rgb(245, 93, 17) !important;
}
.levelsqr[level="Expert"]{
    border: 1px rgb(241, 19, 90) solid;
    background-color: rgba(166, 27, 83, 0.5);
    color: rgb(241, 19, 90) !important;
}
.duration{
    border-radius: 10px;
    border: 1px rgb(99, 68, 139) solid;
    background-color: rgba(144, 24, 236, 0.3);
    padding: 0 5px 0 5px;
    height: 30px;
    font-size: small;
    color: rgb(129, 90, 182)!important;
    display: flex;
    align-items: center;
}
.fs-small{
    font-size: small;
}
.fs-small::before{
    content: "● ";
    color: #8652b6;
    font-size: large;
}
.view{
    transition: all 0.1s ease;
    color: #1E1640 !important;
}