.container{
    max-width: 1100px;
}
.title{
    font-size: 300% !important;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--text-hover);
}
.word{
    color:var(--word-color);
}
.desc{
    font-size: large;
    max-width: 650px;
    margin-bottom: 30px;
    color: var(--p-color);
}

.searchinp{
    width: 100%;
    margin-bottom: 33px;
    background-color:var(--searchinp-bg)  !important;
    border: 1px solid var(--searchinp-border) ;
    border-radius: 12px !important;
    color: white;
    padding: 25px;
}

.searchinp:focus{
    border: 1px solid #a145ff !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgb(255, 255, 241) !important;
    padding-left: 25px;
}

.levels{
    margin-bottom: 60px;
}
.level{
    background-color: var(--level-bg);
    border: 1px solid var(--level-border);
    padding: 10px 20px 10px;
    border-radius: 12px;
    font-weight: 600;
    cursor: default;
    user-select: none;
    color: var(--text-hover);

}
.level:hover{
    border: solid var(--level-border-hover) 1px;
}
.active{
    background-color: var(--level-active);
    color: rgb(255, 255, 245);
}

.showing-text{
    color: var(--p-color);

}

/* ============================================================= */


.cardscont{
    margin-bottom: 150px;
}
.roadmapsqrcont{
    border: solid var(--roadmapsqrcont-border) 1px;
    background-color: var(--roadmapsqrcont-bg);
    height: 355px;
    width: 342px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.1s ease;

}

.roadmapsqrcont .mytitle{
    color: var(--text-hover);
}

.roadmapsqrcont .roadmapsqrdesc, .roadmapsqrcont .steps{
    color: var(--p-color);
}



.roadmapsqrcont:hover{
    border-color: var(--roadmapsqrcont-border-hover);
    background-color: var(--roadmapsqrcont-bg-hover) ; 
    box-shadow: 10px 25px 10px rgba(49, 30, 87, 0.1);
    
}
.roadmapsqrcont:hover .mytitle{
    color: rgb(161, 69, 255);
}
.roadmapsqrcont:hover .view{
    color: rgb(161, 69, 255) !important;
}
.iconcont{
    height: 80px;
    background: linear-gradient(80deg, rgb(145, 56, 234), rgb(233, 57, 167));
    border-radius: 10px;
    margin-bottom: 20px;
}
.mytitle{
    transition: all 0.1s ease;
}
.lightning{
    font-size: 40px !important;
    color: rgb(92, 0, 128);
}
.levelsqr{
    border-radius: 10px;
    padding: 0 5px 0 5px;
    height: 30px;
    font-size: small;
    display: flex;
    align-items: center;
}
.levelsqr[level="Beginner"]{
    border: 1px rgb(22, 158, 124) solid;
    background-color: var(--beginner-bg);
    color: rgb(22, 158, 124) !important;
}
.levelsqr[level="Intermediate"]{
    border: 1px rgb(245, 93, 17) solid;
    background-color: var(--Intermediate-bg);
    color: rgb(245, 93, 17) !important;
}
.levelsqr[level="Expert"]{
    border: 1px rgb(241, 19, 90) solid;
    background-color: var(--Expert-bg);
    color: rgb(241, 19, 90) !important;
}
.duration{
    border-radius: 10px;
    border: 1px rgb(99, 68, 139) solid;
    background-color: var(--duration-bg);
    padding: 0 5px 0 5px;
    height: 30px;
    font-size: small;
    color: rgb(129, 90, 182)!important;
    display: flex;
    align-items: center;
}
.fs-small{
    font-size: small;
}
.fs-small::before{
    content: "● ";
    color: #8652b6;
    font-size: large;
}
.view{
    transition: all 0.1s ease;
    color: #1E1640 !important;
}
@media (max-width:1098px) and (min-width:1025px){
    .roadmapsqrcont{
        width: 300px;
        height: 105%;
    }
}
@media (max-width:732px){
    .roadmapsqrcont{
        width: 105%;
        height: 100%;
    }
    .roadmapsqrdesc{
        max-width: 400px;
    }
}
@media (max-width:542px){
    .roadmapsqrcont{
        width: 100%;
        height: 100%;
    }
}