.container{
    max-width: 1100px;
}
.title{
    font-size: 300% !important;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}
.word{
    color:rgb(161, 69, 255);
}
.desc{
    font-size: large;
    max-width: 650px;
    margin-bottom: 30px;
}

.searchinp{
    width: 100%;
    margin-bottom: 33px;
    background-color:rgba(14, 12, 28, 0.5)  !important;
    border: 1px solid rgb(75, 55, 130) ;
    border-radius: 12px !important;
    color: white;
    padding: 25px;
}

.searchinp:focus{
    border: 1px solid #a145ff !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgb(255, 255, 241) !important;
    padding-left: 25px;
}

.levels{
    margin-bottom: 60px;
}
.level{
    background-color: #2c1c5b;
    border: 1px solid rgba(141, 107, 251, 0.5);
    padding: 10px 20px 10px;
    border-radius: 12px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}
.level:hover{
    border: solid rgb(92, 47, 136) 1px;
}
.active{
    background-color: #9763d2;
}
.cardscont{
    margin-bottom: 150px;
}
.roadmapsqrcont{
    border: solid #312e4e 1px;
    background-color: #1E1640;
    height: 355px;
    width: 342px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.1s ease;

}
.roadmapsqrcont:hover{
    border-color: #61348f;
    background-color: rgb(44, 28, 91) ; 
    box-shadow: 10px 25px 10px rgba(49, 30, 87, 0.1);
}
.roadmapsqrcont:hover .mytitle{
    color: rgb(161, 69, 255);
}
.roadmapsqrcont:hover .view{
    color: rgb(161, 69, 255) !important;
}
.iconcont{
    height: 80px;
    background: linear-gradient(80deg, rgb(145, 56, 234), rgb(233, 57, 167));
    border-radius: 10px;
    margin-bottom: 20px;
}
.mytitle{
    transition: all 0.1s ease;
}
.lightning{
    font-size: 40px !important;
    color: rgb(92, 0, 128);
}
.levelsqr{
    border-radius: 10px;
    padding: 0 5px 0 5px;
    height: 30px;
    font-size: small;
    display: flex;
    align-items: center;
}
.levelsqr[level="Beginner"]{
    border: 1px rgb(22, 158, 124) solid;
    background-color: rgba(18, 115, 78, 0.5);
    color: rgb(22, 158, 124) !important;
}
.levelsqr[level="Intermediate"]{
    border: 1px rgb(245, 93, 17) solid;
    background-color: rgba(154, 100, 38, 0.5);
    color: rgb(245, 93, 17) !important;
}
.levelsqr[level="Expert"]{
    border: 1px rgb(241, 19, 90) solid;
    background-color: rgba(166, 27, 83, 0.5);
    color: rgb(241, 19, 90) !important;
}
.duration{
    border-radius: 10px;
    border: 1px rgb(99, 68, 139) solid;
    background-color: rgba(105, 20, 170, 0.5);
    padding: 0 5px 0 5px;
    height: 30px;
    font-size: small;
    color: rgb(129, 90, 182)!important;
    display: flex;
    align-items: center;
}
.fs-small{
    font-size: small;
}
.fs-small::before{
    content: "● ";
    color: #8652b6;
    font-size: large;
}
.view{
    transition: all 0.1s ease;
    color: #1E1640 !important;
}
@media (max-width:1098px) and (min-width:1025px){
    .roadmapsqrcont{
        width: 300px;
        height: 105%;
    }
}
@media (max-width:732px){
    .roadmapsqrcont{
        width: 105%;
        height: 100%;
    }
    .roadmapsqrdesc{
        max-width: 400px;
    }
}
@media (max-width:542px){
    .roadmapsqrcont{
        width: 100%;
        height: 100%;
    }
}